# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vscode files generated automatically
.vscode/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#Ignore some files
output.xlsx
3G_TP_Results.kmz